* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
header {
  width: 1000px;
  height: 50px;
  background-color: rgb(216, 215, 215);
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}
input[type="search"],
.header-logo button {
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.header-logo button {
  background-color: transparent;
  margin-left: -35px;
  cursor: pointer;
}

.header-avatar,
.header-avatar div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  gap: 20px;
}
.header-avatar i,
.nav-sidebar i {
  color: #6561ce;
}
.fa-facebook {
  font-size: 30px;
  color: #114bbf;
}
header img,
.center-content .message div img,
.center-content .info div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content {
  display: flex;
  flex-direction: row;
}
.nav-sidebar {
  background-color: #f1f1f1;
  width: 200px;
  height: 100vh;
  margin-top: 50px;
  position: fixed;
}
ul:nth-child(1) {
  margin-top: 60px;
}
.nav-sidebar h3 {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 25px;
}
ul {
  list-style: none;
  line-height: 30px;
  margin-left: 30px;
}
.center-content {
  background-color: white;
  width: 500px;
  margin-left: 200px;
}
.center-content .message {
  background-color: #f9f5f4;
  margin: 100px 30px 40px 30px;
  border-radius: 10px;
  width: 440px;
  height: 100px;
  padding: 10px;
}
.message ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.center-content .info {
  background-color: #f9f5f4;

  width: 440px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.info div,
.message div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.info p {
  margin: 20px;
}
.info > img {
  width: 100px;
}
.info-sidebar {
  background-color: rgb(252, 255, 255);
  width: 300px;
  height: 100vh;
}

.info-sidebar img {
  width: 80px;
}
.info-sidebar div:nth-child(1) {
  margin-top: 150px;
  margin-bottom: 60px;
}
.info-sidebar div,
.info-sidebar div:nth-child(1) {
  background-color: #effbed;
  border-radius: 10px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  padding: 10px;
}
